.navbar-logo {
    max-height: 90px;  // Adjust height as needed
    width: auto;       // Maintain aspect ratio
  }
.nav-item {
    font-size: 1.4em;
}
.navbar-login {
    font-size: 1.4em;
}
.nav-link:hover {
    background-color: #C9D2C5;
}