*,
*::before,
*::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  body {
      background-color: #CAD2C5;
      font-family: "Poppins", sans-serif;
      height: 200vh !important;
      overflow-x: hidden;
      scroll-padding: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  i {
      font-family: "Roboto", sans-serif;
  }
  
  .main_container {
      max-width: 1220px;
      margin: 0 auto;
  
      @media (max-width: 1220px) {
          padding: 0 2vw;
          margin: 0;
      }
  }
  